:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisclaro: #DFE9F3;
}

/*Utilidades*/

.w-100{
    width: 100%;
}
@media (min-width: 768px) {
    .w-100 {
        width: auto;
    }
} 
.flex{
    display: flex;
}

.alinear-derecha{
    justify-content: space-evenly;
}

/* Globales */

html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para box model */
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

*{
    margin: 0;
    padding: 0;
}

body {
    background: #f2f2f2;
    font-size: 1.6rem;
    font-family: "roboto", sans-serif;
}

.warp {
    width: 90%;
    max-width: 50rem;
    margin: auto;
}

form{
    width: 100%;
    margin: 2rem 0;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 0 0.4rem rgba(61, 66, 35, 0.1);
    overflow: hidden;
    border-top: 0.4rem solid #d3a21d;
    border-radius: 1rem;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tellf"],
form textarea{
    width: 100%;
    padding: 1.6rem;
    margin-bottom: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-family: "roboto", sans-serif;
    color: #141938;
    display: block;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="tellf"]:focus,
form textarea:focus{
    outline: none;
    border: 2px solid #d3a21d;
    padding: 1.4rem;
}

form textarea{
    resize: none;
    height: 10rem;
}

.alert{
    color: #fff;
    padding: 1.2rem;
    margin-bottom: 1.2rem;
    border-radius: 1rem;
    font-size: 1.6rem;
}

.alert.success{
    background: #73bf75;
    border:0.2rem solid #4b9e4b;
}

.alert.error{
    background: #F2DEDE;
    border: 0.2rem solid #d32f2f;
    color:#a94442;
}
.btn,
form input[type="submit"]{
    padding: 1.2rem 2.4rem;
    background: #d3a21d;
    color: #fff;
    font-size: 1.6rem;
    font-family: "roboto", sans-serif;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    float: right;
}
form input[type="submit"]:hover{
    background: #956f07;
    color: #fff;
}